

.symbol{
    width: 2;
    height: 2;
    margin-left: 10px;
    color: #ffffff65;
    text-transform: uppercase;
}

.green{
    color: #00b61e;
}
.red{
    color: #ff0000;
}

.coinname{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 620px){
    .hidden{
        display: none;
    }

    
}