.banner {
  position: relative;
  background-image: url("../../../public/banner.jpg");
 /*  background-repeat: no-repeat;
  background-position: center; */
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  color: aliceblue;
  font-weight: 700;
  text-shadow: 0 0 10px #fefefe61;
}