.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);  
}
.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
}
.badge {
  font-size: 1.5rem;
  align-self: start;
  color: black;
  background-color: #edf2f4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: start;;
  gap: 3rem;
  
}
.title h2 {
  width: 2;
  height: 2;
  margin-left: 10px;
  color: #ffffff65;
  text-transform: uppercase;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 2rem;
  align-items: center;
  text-align: left;
  width: 90%;
}
.price h1 {
  font-size: 2rem;
}
.market {
  border-top: 1px solid #c0b1b1d8;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}
.market span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: 1px solid #c0b1b131;

}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.6rem;
  width: 75%;
  height: 100%;
  border-top: 1px solid #c0b1b1d8;
}
.high {
  color: #18DC60;
}
.low {
  color: #d90429;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #babd00;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {

  .loader {
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #babd00;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}
